# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
bin/
parts/
sdist/
var/
wheels/
share/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
**/__pycache__/
.vscode/
pyvenv.cfg